@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  background-color: theme('colors.white');
}

.dark body {
  background-color: theme('colors.gray.900');
  color: theme('colors.white');
}

a[href^="#"] {
  text-decoration: none;
}
